<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div  class="header-teg">
                {%if signin%}
                <a class="headerWr" href="http://localhost:5000/index.html" class="active-link">Главная</a>
                <a class="headerWr" href="http://localhost:5000/reg.html">Регистрация</a>
                <a class="headerWr" href="http://localhost:5000/login.html">Вход</a>
                {%else%}
                <a class="headerWr" href="/user/{{name}}">Посты</a>
                <button id="closePost" class="btnClose">Выйти из аккаунта</button>
                {%endif%}
        </div>

    </header>

    </header>

    {% block body %}{% endblock %}

    <script src="/js.js"></script>

</body>
</html>