{% extends 'main.njk' %}

{% block body %}

<main>

        <input class="start_imput" type="text">
        <button  class="button_create">Сoздать пост</button>

        <p class="komment">Список Постов</p>

        <div class="commit">
            {% for post in table %}
                <div class="post1">
                    <h2>{{ post.name }}</h2>
                    <p>{{ post.text }}</p>
                    <button id="{{ post.index }}" class="button_open">Открыть</button>
                    <button id="{{ post.index }}" class="button_delete">Удалить</button>
                </div>
                <p>ㅤ</p>
            {% endfor %}
            </div>

        <div class="popup__bg"> 
            <div class="popup">
                <button class="close-popup">&times;</button> 
                <label>
                    <input id="nameImp" type="text" name="name">
                    <div class="label__text">
                        Название
                    </div>
                </label>
                <label>
                    <input id="textImp" type="tel" name="tel">
                    <div class="label__text">
                        Текст поста
                    </div>
                </label>
                <button id="sendButt">Добавить пост</button>
            </div>
        </div>

    </main>

    {% endblock %}}